.comments{
    margin-left: 140px;
    margin-top: 30px;
    font-size: 20px;
    margin-right: 12px;
    width: 80%;
    justify-content: center;
    max-width: 1000px;
  }

.comments input{
    max-width: 450px;
    background:#EEEEEE;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.comments textarea{
    background: #EEEEEE;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    height: 129px;
}

.comments button{
    color: white;
    background-color:#FF642F;
    max-width: 200px;
    float: right;
    margin-left: auto;
    font-size: 15px;
}
